
body {
  font-family: 'Open Sans', verdana, arial, sans-serif;
  position: relative;
  color: #605951;
 
}
p {
    font-size: 16px;
  line-height: 165%;
}
li {
  padding-bottom: 5px;
}
.gray-background ul {
  list-style: none;
  padding: 0;
}
.gray-background li {
    font-size: 16px;
  line-height: 165%; 
   padding-left: 1.3em;
}

.gray-background li:before {
  content: "\f054"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  color: #C1B398;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  font-size: 0.6em;
}
.gray-background li:nth-child(odd):before{
  color: #61A6AB;
}
.gray-background li ul li:before {
  content: "\f0da"; /* FontAwesome Unicode */
  font-size: 0.8em;
}
img {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
  margin-top: 20px;
}

/*CH02 Header*/
.header-background {
  background-color: #61A6AB;
  color: #fff;
}

/*CH03 Page Structure*/
section {
  padding-top: 130px;
  margin-top: -130px;
}
figure img {
  width: 90%;
}
footer {
  background-color: #61A6AB;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}
.float-left {
  float: left;
}
.folio img{
  margin: 20px;
}
.figure {
  background-color: #C8E3E5;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.figure:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.figure-caption {
  margin: 0 20px 20px 20px;
}
.padding-top {
  padding-top: 160px;
}

/*CH04 Headings*/

h1 {
  font-family: 'Lato', 'Open Sans', helvetica, verdana, arial, sans-serif;
  color: #605951;
  font-size: 6em;
  font-weight: 100;
}
h2 {
  padding-top: 20px;
  font-family: 'Lato', 'Open Sans', helvetica, verdana, arial, sans-serif;
  color: #61A6AB;
  font-size: 3em;
  padding-bottom: 12px;
  border-bottom: 1px solid #61A6AB;
}
h3 {
  line-height: 155%;
}
h4 {
  letter-spacing: 3px;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

/*CH05 Text Styles*/
h1 .bolder {
  font-weight: 400;
}
.white-background h2 {
  color: #61A6AB;
}
a {
  text-decoration: none;
  color: #335d60;
}
a:link {
  color: #335d60;
}
a:visited {
  color: #525252;
}
a:hover {
  color: #335d60;
}
a:active {
  color: #CC333F;
}

/*CH06 Navigation*/

.navbar-default {
  background-color: #fff;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .5);
}
.nav {
  font-weight: bold;
  font-size: 1.4em;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #605951;
    background-color:#fff;
    }
.nav-pills > li > a {
  color: #999;
  background-color: #fff;
}
.nav-pills > li > a:link {
  background-color: #fff;
}
.nav-pills > li > a:visited {
  background-color: #fff;
}
.nav-pills > li > a:hover {
  color: #CC333F;
  background-color: #fff;
}
.nav-pills > li > a:active {
  background-color: #fff;
}
#myNavbar {
  margin-top: 1em;
}

/*CH08 Forms*/

input {
  margin-bottom: 15px;
}
.btn-outline-danger {
  margin-top: 20px;
  color: #61A6AB;
  font-weight: bolder;
  background-color: #F7EFED;
  border-color: #61A6AB;
  border-width: 2px;}

/* CH09 Comments

List of colours
Teal #61A6AB
Dark teal #335d60
Light teal #C8E3E5
Brown #605951
Light brown #C1B398
Red #CC333F
*/

/* CH10 Extras */

.white-background {
  background-color: #FFF;
  color: #4D3B3B;
}
.gray-background {
  background-image: repeating-linear-gradient(45deg, #ccc, #ccc 15px, #dbdbdb 15px, #dbdbdb 30px);
}
.gray-background .container {
  background-color: #F7EFED;
 padding: 20px 60px 20px 60px;
}
.white-background .container {
  background-color: #FFF;
 padding: 20px 60px 20px 60px;
}
.indent {
  margin-left: 40px;
}
